<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BaianorStore</title>
</head>
<body>
<div class="form-control">
    <form action="/register" method="post">
    <h1>Login</h1>
        <label for="Email">Email:</label><br>
        <input type="email" name="" id=""><br>
        <label for="Senha">Senha:</label><br>
        <input type="password" name="" id=""><br>
        <br>
        <a href="/api/register"> Não possui uma conta?</a>
    </form>
</div>
</body>
</html>