<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Cadastrado com Sucesso</h2>
        <h3>Seja bem-vindo(a) a plataforma :)</h3>
        <a href="/" class="btn btn-success">Clique aqui para fazer Login</a>
        <p style="font-size:20px;color:#5C5C5C;">
</p>
        
    <br><br>
        </div>
        
	</div>
</div>