<form action="/api/register" method="POST">
    <h1>Cadastro</h1>
        <label for="Email">Email:</label><br>
        <input type="email" name="" id=""><br>
        <label for="Senha">Senha:</label><br>
        <input type="password" name="" id=""><br>
        <button class="btn btn-success" type="submit">Registrar</button>
</form>