<html>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="width: 340px; margin: 150px auto;">
			<div class="card-header">
				<h3>Cadastro</h3>
			</div>
			<div class="card-body">
				<form action="/api/register" method="POST">
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name='username' placeholder="Nome de Usuário">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input type="email" class="form-control" name='email' placeholder="Email">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" name='password' placeholder="Senha">
					</div>
					<div class="form-group">
						<input type="submit" value="Registrar" class="btn btn-success">
					</div>
                    <a href="/">Voltar</a>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>