<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
				 
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button> <a class="navbar-brand" href="/index">BaianorStore</a>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="navbar-nav">
						<li class="nav-item active">
							 <a class="nav-link" href="/graficos">Estatística de Jogadores <span class="sr-only">(current)</span></a>
						</li>
					</ul>
					<ul class="navbar-nav ml-md-auto">
						<li class="nav-item active">
							 <a class="nav-link" href="/biblioteca">Biblioteca <span class="sr-only">(current)</span></a>
						</li>
						<li class="navbar-nav ml-md-auto">
							 <a class="btn btn-danger" href="/logout" id="" data-toggle="dropdown">Logout</a>
						</li>
					</ul>
				</div>
			</nav>
            <br>
<h2 style="margin-left: 41%">Estatísticas de Jogos</h2>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6" id="graph";>

    <!--CRIA O CANVAS-->
    <h5 style="margin-left: 28%">Total de Jogos Cadastrados</h5>
    <canvas id="totalJogos" width="400" height="400"></canvas>



<script>
$(document).ready(function () {
    $.ajax({
        type: 'GET',
        url: 'api/games',
        dataType: 'json',
    }).done(function(data) {
        totaltotalJogos = data.qtde;
        geraGraficoTotalJogos(totaltotalJogos);
    });
});

function geraGraficoTotalJogos(totaltotalJogos) {
    var pegaIdDoCanvas = document.getElementById('totalJogos').getContext('2d');
    var chart = new Chart(pegaIdDoCanvas, {
        type: 'bar',
        data: {
            labels: ['Total'],
            datasets: [{
                label: 'Total De Jogos Cadastrados',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [totaltotalJogos]
            }]

        }
    });
}

</script>



</div>
</div>
</div>

</body>