<form action="/api/login" method="POST">
    <h1>Login</h1>
        <label for="Email">Email:</label><br>
        <input type="email" name="email" id=""><br>
        <label for="Senha">Senha:</label><br>
        <input type="password" name="password" id=""><br>
        <button class="btn btn-success" type="submit">Login</button>
        <br>
        <a href="/register"> Não possui uma conta?</a>
</form>