<form action="/api/login" method="POST">
    <h1>Login</h1>
        <label for="Email">Email:</label><br>
        <input type="email" name="" id=""><br>
        <label for="Senha">Senha:</label><br>
        <input type="password" name="" id=""><br>
        <br>
        <a href="/register"> Não possui uma conta?</a>
</form>