<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="bower_components/chartist/dist/chartist.min.css">
    <!--link rel="stylesheet" href="css/bootstrap.min.css"-->


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css"/-->
    <!--Bootsrap 4 CDN-->
    

    <!--Google num sei o que-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BaianorStore</title>
</head>
<body>
    {{{ body }}}
</body>
</html>